.page {
  min-height: 100%;
  overflow: hidden;
}

.title {
  margin-top: 2.5%;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

.arrow {
  width: 7%;
  margin-left: 29%;
  margin-top: 2%;
}

.subtitle {
  width: 37%;
}
