.page {
  min-height: 100%;
  overflow: hidden;
}

.header {
  width: 100%;

  & > div {
    padding-bottom: 2.5%;
  }
}

.title {
  margin-top: 0;
}

.content {
  display: flex;
  justify-content: space-between;
}

.arrow {
  width: 6%;
  margin-left: 29%;
  margin-top: 1.5%;
}

.subtitle {
  width: 47%;
}
