.container {
  width: 100%;
}

.title {
  font-size: 43px;
  color: rgb(var(--midtone-color));
  margin-bottom: 40px;
}

.projects {
  position: relative;
}

.project-titles {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.project-title {
  display: inline-block;
  vertical-align: middle;
  font-size: 28px;
  padding: 10px 0;
  cursor: pointer;
  transition: all 0.1s ease-out;
}

.project-title-active {
  composes: project-title;

  color: rgb(var(--highlight-color));
  opacity: 1;
}

.project-title-inactive {
  composes: project-title;

  color: rgba(var(--midtone-color), 0.4);

  &:hover {
    color: rgba(var(--midtone-color), 0.7);
  }
}

.arrow {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  transition: all 0.25s ease-out;

  &:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-top: 2px solid rgb(var(--highlight-color));
    border-right: 2px solid rgb(var(--highlight-color));
    transform: rotate(45deg);
  }
}

.arrow-active {
  composes: arrow;

  transform: translateX(0);
  opacity: 1;
}

.arrow-inactive {
  composes: arrow;

  transform: translateX(30px);
  opacity: 0;
}

.description-container {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.description {
  position: absolute;
  transition: all 0.25s ease-out;
}

.description-active {
  composes: description;

  z-index: 1;
  opacity: 1;
}

.description-inactive {
  composes: description;

  z-index: -999;
  transform: translateX(30px);
  opacity: 0;
}
