{
    "parser": "typescript",
    "tabWidth": 2,
    "singleQuote": true,
    "semi": true,
    "printWidth": 90,
    "overrides": [
        {
            "files": "*.scss",
            "options": {
                "parser": "scss"
            }
        }
    ]
}
