@use '~src/resources/style/fonts';
@use '~src/resources/style/colors';

$darkFont: #824d95;

.nav-container {
    display: inline-block;

    &.dark .nav-list a {
        color: $darkFont;

        &:after {
            background-color: $darkFont;
        }
    }
}

.nav-list {
    li {
        display: inline-block;

        a {
            display: inline-block;
            position: relative;
            text-decoration: none;
            font-size: 16px;
            font-family: 'Inter', sans-serif;
            color: colors.$light-secondary;
            padding: 1em 1.2em;

            &:after {
                content: '';
                display: block;
                width: 90%;
                height: 2px;
                margin: 4px auto 0 auto;
                opacity: 0;
                transform: translateY(5px);
                background-color: colors.$light-secondary;
                transition: all 0.15s ease-in-out;
            }

            &:hover:after {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}
