.text {
  font-size: 20px;
}

.description {
  composes: text;

  color: rgb(var(--midtone-color));
  margin-bottom: 20px;
}

.link {
  composes: text;

  position: relative;
  text-decoration: none;
  color: rgb(var(--highlight-color));
  padding: 5px 0;

  &:after {
    content: '→';
    display: inline-block;
    margin-left: 5px;
    opacity: 0;
    transform: translateX(-5px);
    transition: all 0.15s ease-out;
  }

  &:hover:after {
    transform: translateY(0);
    opacity: 1;
  }
}
