.sidebar {
  display: flex;
  justify-content: flex-end;
  position: -webkit-sticky;
  position: sticky;
  top: 120px; // This should be greater than the header height
  width: 100%;
}

.text-holder {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.text {
  text-align: right;
}

.title {
  composes: text;

  color: rgb(var(--midtone-color));
  font-size: 43px;
  margin-bottom: 20px;
}

.subtitle {
  composes: text;

  color: rgb(var(--midtone-color));
  font-size: 34px;
}

.content-container {
  position: relative;
}

.content {
  composes: subtitle;

  display: block;
  opacity: 0;
  color: rgb(var(--highlight-color));
  transition: opacity 0.15s ease-out;
}

.content-inactive {
  composes: content;

  opacity: 0;
}

.content-active {
  composes: content;

  opacity: 1;
}

.carousel {
  right: 0;
  transition: transform 0.15s ease-out;
}

.divider {
  display: inline-block;
  vertical-align: top;
  width: 3px;
  height: 300px;
  background: rgb(var(--highlight-color));
  border-radius: 10px;
}
