@use '~src/resources/style/fonts';
@use "~src/resources/style/colors";

html {
  height: 100%;
  font-family: 'Inter', sans-serif;
}

body {
  position: absolute; // Fix body not stretching to content width
  min-width: 100%;
  margin: 0;
  padding: 0;
}

:global(#root) {
  position: relative;
  display: inline-block;
  min-width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  z-index: -999;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  padding: 0 10%;
  background: colors.$page-background;
  transform: translateY(-50%);
  transition: all 0.25s ease-out;
  opacity: 0;
}

.menu-active {
  z-index: 999;
  transform: translateY(0);
  opacity: 1;
}

.landing-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 1000px;
  min-height: 100vh;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100px;

  &:after {
    content: '';
    width: 10%;
    height: 4px;
    background: colors.$midtone-light;
    border-radius: 10px;
  }
}

.about-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 1200px;
  min-height: 100vh;
}

.placeholder-long {
  width: 100%;
  height: 200vh;
  background: red;
  border: 5px solid black;
}

.placeholder-short {
  width: 100%;
  height: 100vh;
  background: red;
  border: 5px solid black;
}
