@use "~src/resources/style/colors";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

:global(#root) {
  min-height: 100%;
}

.main {
  position: absolute;
  min-height: 100%;
  width: 100%;
  transition: background-color 0.15s ease-in-out;
}

.light {
  composes: main;

  background-color: colors.$light-primary;
}

.dark {
  composes: main;

  background-color: colors.$dark-primary;
}
