@use '~src/resources/style/fonts';

html {
  height: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 1vw;

  --highlight-color: 47, 186, 236;
  --midtone-color: 136, 136, 136;
  --error-color: 227, 59, 59;
  --page-color: 255, 255, 255;

  --text-base: 12px;
  --text-sm-0: calc(var(--text-base) * 7 / 6);
  --text-sm-1: calc(var(--text-base) * 4 / 3);
  --text-sm-2: calc(var(--text-base) * 3 / 2);
  --text-md-0: calc(var(--text-base) * 5 / 3);
  --text-md-1: calc(var(--text-base) * 7 / 3);
  --text-lg-0: calc(var(--text-base) * 17 / 6);
  --text-lg-1: calc(var(--text-base) * 43 / 12);
}

body {
  position: absolute; // Fix body not stretching to content width
  min-width: 100%;
  margin: 0;
  padding: 0;
}

:global(#root) {
  position: relative;
  display: inline-block;
  min-width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  z-index: -999;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  padding: 0 10%;
  background: rgb(var(--page-color));
  transform: translateY(-50%);
  transition: all 0.25s ease-out;
  opacity: 0;
}

.menu-active {
  z-index: 999;
  transform: translateY(0);
  opacity: 1;
}

.landing-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 52.54vw;
  min-height: 100vh;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;

  &:after {
    content: '';
    width: 10%;
    height: 2px;
    background: rgba(var(--midtone-color), 0.5);
    border-radius: 10px;
  }
}

.content-container {
  position: relative;
  padding-top: 120px;
  margin-bottom: 120px;
  transition: all 0.2s ease-out;
}

.about-container {
  composes: content-container;

  display: flex;
  align-items: center;
  width: 1200px;
}

.experience-container {
  composes: content-container;

  width: 1200px;
}

.projects-container {
  composes: content-container;

  width: 1200px;
}

.contact-container {
  composes: content-container;

  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 45%;
  margin-bottom: 0;
}

.social-container {
  margin-top: 50px;
}

.copyright {
  margin: 20px 0;
  font-size: var(--text-base);
  color: rgba(var(--midtone-color), 0.75);
}
