@use "~src/resources/style/colors";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

:global(#root) {
  position: relative;
  display: inline-block;
  min-width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
