@use 'sass:math';
@use '~src/resources/style/colors';

@keyframes float {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }
  15% {
    transform: translateY(0);
    opacity: 1;
  }
  30%,
  100% {
    transform: translateY(-200%);
    opacity: 0;
  }
}

.container {
  position: relative;
  width: 100%;
}

.bar {
  width: 100%;
  margin-bottom: 10%;
  animation: float 3s linear infinite;
  transition: background 0.3s ease-in-out;

  &:after {
    content: '';
    display: block;
    padding-bottom: 5%;
  }
}

.bar-light {
  composes: bar;

  background: colors.$light-secondary;
}

.bar-dark {
  composes: bar;

  background: colors.$dark-secondary;
}

.arrow {
  width: 100%;
  overflow: hidden;

  &:after {
    content: '';
    display: block;
    width: math.percentage(1 / math.sqrt(2));
    padding-bottom: math.percentage(1 / math.sqrt(2));
    transform-origin: 0 0;
    transform: rotate(-45deg);
    transition: background 0.3s ease-in-out;
  }
}

.arrow-light {
  composes: arrow;

  &:after {
    background: colors.$light-secondary;
  }
}

.arrow-dark {
  composes: arrow;

  &:after {
    background: colors.$dark-secondary;
  }
}
