@use '~src/resources/style/paths';
@use '~src/resources/style/colors';

.theme-icon-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    cursor: pointer;

    &:hover {
        .theme-icon-inner:after {
            transform: translateX(-4px);
        }

        .theme-icon-outer {
            height: 90%;
            width: 90%;
        }
    }

    &.dark {
        .theme-icon-inner {
            height: 70%;
            width: 70%;
            border: 2px solid colors.$light-primary;
            background-color: colors.$light-primary;

            &:after {
                transform: translateX(8px);
                background-color: colors.$light-secondary;
            }

            &:hover:after {
                transform: translateX(12px);
            }
        }

        .theme-icon-outer {
            height: 10%;
            width: 10%;
        }
    }
}

.theme-icon-inner {
    position: absolute;
    height: 40%;
    width: 40%;
    background-color: colors.$light-secondary;
    border: 2px solid colors.$light-secondary;
    border-radius: 100%;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background: colors.$light-primary;
        border-radius: 100%;
        transform: translateX(-8px);
        transition: all 0.3s ease-in-out;
    }
}

.theme-icon-outer {
    position: absolute;
    height: 80%;
    width: 80%;
    background: url(paths.$images + '/rays.svg') no-repeat;
    background-size: contain;
    transition: all 0.3s cubic-bezier(0.24, 0.71, 0.43, 1.32);
}
