.container {
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  min-width: 100%;
  height: auto;
}

.overlay {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
}

.overlay-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.greeting {
  margin: 0 auto;
}
