@use '~src/resources/style/colors';

.container {
  width: 100%;
}

.title {
  margin-bottom: 36px;
  color: colors.$midtone;
  font-size: 43px;
}

.info {
  font-size: 20px;
}

.entry {
  padding-top: 36px;
}

.question {
  padding: 15px 0;
  color: colors.$highlight;
}

.answer {
  color: colors.$midtone;
}
