@use '~src/resources/style/colors';

.container {
  width: 100%;
}

.title {
  color: colors.$midtone;
  font-size: 43px;
}

.dots-container {
  display: flex;
  align-items: center;
  padding: 36px 0;
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 15px;
  border-radius: 100%;
  background: colors.$midtone;
  opacity: 0.3;
  cursor: pointer;
  transition: opacity 0.1s ease-out;
}

.dot-active {
  opacity: 1;
}

.info {
  font-size: 20px;
  padding-bottom: 576px;
}

.entry-container {
  position: absolute;
  transition: all 0.15s ease-out;
}

.entry-inactive {
  opacity: 0;
  transform: translateX(30px);
}

.entry {
  padding-bottom: 51px;
}

.question {
  padding-bottom: 15px;
  color: colors.$highlight;
}

.answer {
  color: colors.$midtone;
}
