@use '~src/resources/style/colors';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.light {
  composes: container;

  background: colors.$light-secondary;
}

.dark {
  composes: container;

  background: colors.$dark-secondary;
}

.nav {
  margin-left: 10px;
}

.icon {
  margin-right: 10px;
}
