.picture {
  width: 100%;
  padding-top: 200%;
  border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
  background-image: url('~src/resources/images/profile-narrow.jpg');
  background-size: cover;
}
