.item {
  width: 100%;
}

.title {
  font-size: var(--text-lg-1);
  color: rgb(var(--highlight-color));
}

.subtitle {
  font-size: var(--text-md-1);
  color: rgb(var(--midtone-color));
}

.detail-container {
  padding-bottom: 50px;
}

.detail {
  font-size: var(--text-md-0);
  color: rgba(var(--midtone-color), 0.7);
  padding-top: 25px;
}
