.button-element {
  transition: all 0.2s ease-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.submit {
  padding: 10px 0;
  font-size: 20px;
  font-family: inherit;
  opacity: 0;
  transition: all 0.2s ease-out;
}

.button {
  composes: submit;

  color: rgb(var(--midtone-color));
  background: transparent;
  border: none;
  cursor: pointer;

  &:after {
    content: '→';
    display: inline-block;
    margin-left: 5px;
    opacity: 0;
    transform: translateX(-5px);
    transition: all 0.15s ease-out;
  }

  &:hover:after {
    opacity: 1;
    transform: translateX(0);
  }
}

.result {
  composes: submit;

  display: inline-block;
  opacity: 0;
}

.good-result {
  composes: result;

  color: rgb(var(--highlight-color));
}

.bad-result {
  composes: result;

  color: rgb(var(--error-color));
}

.loader {
  composes: button-element;

  display: inline-flex;
  align-items: center;
  padding: 12px 0;
  opacity: 0;

  &:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 2px solid rgba(var(--midtone-color), 0.3);
    border-right: 2px solid rgb(var(--highlight-color));
    border-radius: 50%;
    animation: spin 0.5s linear infinite;
  }
}

// Transition classes need to go after the style classes

.submit-enter-active {
  opacity: 1;
}

.submit-enter-done {
  opacity: 1;
}

.submit-exit {
  opacity: 1;
}

.submit-exit-active {
  opacity: 0;
}
