.container {
  display: flex;
  position: relative;
  width: 100%;
}

.sidebar {
  width: 30%;
}

.content-container {
  position: relative;
  width: 70%;
}

.content {
  width: 90%;
  margin-left: 20px;
}

.item {
  transition: opacity 0.15s ease-out;
}

.item-active {
  composes: item;

  opacity: 1;
}

.item-inactive {
  composes: item;

  opacity: 0.3;
}
