.container {
  display: flex;
  position: relative;
  width: 100%;
}

.sidebar {
  width: 30%;
}

.content-container {
  position: relative;
  width: 70%;
}

.content {
  width: 90%;
  margin-left: 20px;
}
