@use '~src/resources/style/fonts';
@use '~src/resources/style/colors';

.container {
  display: inline-block;
}

.nav {
  margin: 0;
  padding: 0;

  li {
    display: inline-block;

    a {
      display: inline-block;
      position: relative;
      text-decoration: none;
      font-size: 16px;
      font-family: 'Inter', sans-serif;
      padding: 1em 1.2em;
      transition: all 0.3s ease-in-out;

      &:after {
        content: '';
        display: block;
        width: 90%;
        height: 2px;
        margin: 4px auto 0 auto;
        opacity: 0;
        transform: translateY(5px);
        transition: all 0.15s ease-in-out;
      }

      &:hover:after {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.light {
  composes: nav;

  a {
    color: colors.$light-primary;

    &:after {
      background-color: colors.$light-primary;
    }
  }
}

.dark {
  composes: nav;

  a {
    color: colors.$dark-primary;

    &:after {
      background-color: colors.$dark-primary;
    }
  }
}
