@use '~src/resources/style/colors';
@use '~src/resources/style/fonts';

.container {
  position: relative;
  width: 100%;
}

.spacer {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.spacer-light {
  composes: spacer;

  background: colors.$light-secondary;
}

.spacer-dark {
  composes: spacer;

  background: colors.$dark-secondary;
}

.carousel {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.carousel-item {
  text {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
  }
}

.carousel-item-active {
  composes: carousel-item;

  text {
    opacity: 1;
    transition: inherit;
  }
}

.carousel-item-active-light {
  composes: carousel-item-active;

  text {
    fill: colors.$light-primary;
  }
}

.carousel-item-active-dark {
  composes: carousel-item-active;

  text {
    fill: colors.$dark-primary;
  }
}

.carousel-item-inactive {
  composes: carousel-item;

  text {
    opacity: 0.5;
    transition: inherit;
  }
}

.carousel-item-inactive-light {
  composes: carousel-item-inactive;

  text {
    fill: colors.$light-secondary;
  }
}

.carousel-item-inactive-dark {
  composes: carousel-item-inactive;

  text {
    fill: colors.$dark-secondary;
  }
}
