@use '~src/resources/style/colors';
@use '~src/resources/style/fonts';

.title {
  display: block;

  text {
    dominant-baseline: central;
    height: 100%;
    width: 100%;
    fill: colors.$light-primary;
    font-size: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
  }
}
