@use '~src/resources/style/colors';

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.inner {
  position: absolute;
  border-radius: 100%;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  &:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    transition: all 0.2s ease-in-out;
  }
}

.inner-light {
  composes: inner;

  height: 40%;
  width: 40%;
  background-color: colors.$light-secondary;
  border: 2px solid colors.$light-primary;

  &:after {
    transform: translateX(-8px);
    background: colors.$light-primary;
  }

  .container:hover &:after {
    transform: translateX(-4px);
  }
}

.inner-dark {
  composes: inner;

  height: 70%;
  width: 70%;
  background-color: colors.$dark-secondary;
  border: 2px solid colors.$dark-primary;

  &:after {
    transform: translateX(8px);
    background-color: colors.$dark-primary;
  }

  .container:hover &:after {
    transform: translateX(12px);
  }
}

.outer {
  position: absolute;
  animation: spin 20s linear infinite;
  transition: all 0.3s cubic-bezier(0.47, 0.07, 0.29, 2.04);
}

.outer-light {
  composes: outer;

  height: 75%;
  width: 75%;
}

.outer-dark {
  composes: outer;

  height: 10%;
  width: 10%;
}
