.container {
  display: inline-block;
  position: relative;
}

.text {
  font-size: 1.5625rem;
}

.message {
  composes: text;

  color: rgb(var(--midtone-color));
}

.name {
  composes: text;

  color: rgb(var(--highlight-color));
}

.title-container {
  composes: text;

  position: relative;
  color: rgb(var(--page-color));

  & > p {
    margin: 0;
    padding: 0;
  }
}

.carousel-container {
  composes: text;

  position: absolute;
  top: 0;
  width: 100%;
}

.title {
  composes: text;

  display: flex;
  justify-content: center;
  color: rgb(var(--highlight-color));
  white-space: nowrap;
}

.carousel {
  composes: text;

  position: absolute;
  bottom: 0;
  width: 100%;
}
