.container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.profile-container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.picture {
  position: relative;
  display: inline-block;
  width: 30%;
}

.info {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: 2.5%;
  width: 60%;
}
